[runtime]
save_dir = "lightning_logs"
experiment_name = {{ experiment_name }}
local_cache_dir = {{ local_cache_dir }}
accelerator = "gpu"
number_of_nodes = 1
devices = [0]                                        #[0,1,2,3]
checkpoint_path = "None"
simulation_environment = "PyTorch"
log_every_n_steps = 10
verbose = false